<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- System JS -->
    <script type="systemjs-importmap">
      {
        "imports": {
          "react": "https://unpkg.com/react@18.2.0/umd/react.production.min.js",
          "react-dom": "https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"
        }
      }
    </script>
    <script src="http://localhost:5050/public/libs/system.min.js"></script>
    <script src="http://localhost:5050/public/libs/amd.min.js"></script>

    <!-- PrimeVue -->
    <link href="http://localhost:5050/public/libs/theme.css" rel="stylesheet" />
    <link
      href="http://localhost:5050/public/libs/primevue.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost:5050/public/libs/primeflex.min.css"
      rel="stylesheet"
    />

    <link
      href="http://localhost:5050/public/libs/fa6/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost:5050/public/libs/primeicons.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />

    <link
      href="http://localhost:5050/public/css/sidebar-menu.css"
      rel="stylesheet"
    />

    <!-- Dependencies -->
    <script src="http://localhost:5050/public/libs/vue.global.js"></script>
    <script src="http://localhost:5050/public/libs/core.min.js"></script>
    <script src="http://localhost:5050/public/libs/vue-router.global.js"></script>
    <script src="https://unpkg.com/primevue@^3/checkbox/checkbox.min.js"></script>
    <script src="https://unpkg.com/primevue@^3/toolbar/toolbar.min.js"></script>
    <script src="https://unpkg.com/primevue@^3/avatar/avatar.min.js"></script>

    <!-- Components -->
    <script src="http://localhost:5050/public/render-micro-app.js"></script>
    <script src="http://localhost:5050/public/sidebar-menu.js"></script>
    <script src="http://localhost:5050/public/app-layout.js"></script>
    <script src="http://localhost:5050/public/page-render.js"></script>
    <script src="http://localhost:5050/public/home-page.js"></script>
    <script src="http://localhost:5050/public/login-page.js"></script>

    <style>
      *:not(i) {
        font-family: "Noto Sans", sans-serif;
      }
      body {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>

    <script type="module">
      const App = {};
      const routes = [
        {
          path: "/",
          component: HomePage,
          meta: { title: "Home", requiresAuth: true },
        },
        {
          path: "/login",
          component: LoginPage,
          meta: { title: "Login", requiresAuth: false },
        },
        {
          path: "/register",
          component: HomePage,
          meta: { title: "Register", requiresAuth: false },
        },
        {
          path: "/logout",
          component: HomePage,
          meta: { title: "Logout", requiresAuth: false },
        },
        {
          path: "/app/:appName+",
          component: PageRender,
          meta: { requiresAuth: true },
        },
      ];

      const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes,
      });

      router.beforeEach((to, from, next) => {
        // Check route requiresAuth
        if (!to.meta.requiresAuth) return next();

        // Check login
        let isAuthenticated = false;
        if (localStorage.getItem("LoggedUser")) isAuthenticated = true;
        else isAuthenticated = false;

        // Next to path
        if (isAuthenticated) return next();
        else next({ path: "/login", query: { replace: to.path } });
      });

      Vue.createApp(App)
        .use(router)
        .use(primevue.config.default, { ripple: true })
        .mount("#app");
    </script>
  </body>
</html>
